body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 18pt;
}
h1 .moderno {
  background-color: black;
  color: white;
}
h1 strong {
  background-color: grey;
}
.test {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  border: 1px solid red;
  font-size: 1rem;
  padding: 0.5rem;

  background-color: hsl(217, 100%, 80%);

   /* Resetea la caja de referencia a este elemento */
   position: relative;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rrr {
  border: 3px solid black;
}
footer {
  height: 20rem;
}
.enorme, .menu {
  font-size: 2rem;
  padding: 0 2rem;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  border: 3px solid #ccc;
  padding: .5rem .7rem;
}
.menu ul li:hover {
  background-color: #ddd;
}
table {
  margin-top: 2rem;
  font-size: 1.5rem;
  border: 1px solid black;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid blue;
  padding: .3rem .5rem;
}
table th {
  text-align: left;
}

svg {
  width: 6rem;
  height: 5rem;
  position: sticky;
  object-fit: cover;
  top: 0;
  right: 0;
}